body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    height: 960px;
    max-height: 960px;
    max-width: 960px;
}

.gridPiece { 
    background-color: gray;
}

